In [19]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os
from pprint import pprint

# Import API key
from api_keys import g_key

In [2]:
print(g_key)

AIzaSyCCp5j8JAOws4F3dXILEAEN62pSa7X1S98

In [3]:
#!jupyter labextension install jupyter-matplotlib@0.3.0

In [4]:
#read in city weather data csv file

vacation_df = pd.read_csv("../output_data/cities.csv",index_col=0)

vacation_df.head(30)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Hobart,-42.8794,147.3294,44.92,77,99,1.99,AU,1627148245
1,Havelock,34.8791,-76.9013,86.99,58,1,5.99,US,1627148245
2,Atuona,-9.8000,-139.0333,77.97,70,96,16.20,PF,1627147805
3,Vao,-22.6667,167.4833,70.81,84,19,5.68,NC,1627147805
4,Codrington,-38.2667,141.9667,44.98,76,99,23.40,AU,1627147806
5,Malpe,13.3500,74.7167,79.90,86,62,10.58,IN,1627147806
6,Ushuaia,-54.8000,-68.3000,38.82,87,40,5.75,AR,1627147806
7,City of San Pedro,14.3500,121.0167,80.15,95,90,2.30,PH,1627147807
8,Cape Town,-33.9258,18.4232,57.11,64,0,2.30,ZA,1627148246
9,Mataura,-46.1927,168.8643,38.48,90,95,3.98,NZ,1627148246
10,Abalak,58.1286,68.5944,58.26,98,99,2.71,RU,1627148246
11,Torbay,47.6666,-52.7314,67.75,72,90,13.80,CA,1627148247
12,Puerto Ayora,-0.7393,-90.3518,78.76,84,31,8.99,EC,1627148247
13,Hamilton,39.1834,-84.5333,88.36,60,1,1.99,US,1627148247
14,New Norfolk,-42.7826,147.0587,44.58,83,96,3.00,AU,1627148247
15,Algiers,36.7525,3.0420,89.42,40,40,6.91,DZ,1627148076
16,Touros,-5.1989,-35.4608,88.70,50,12,19.77,BR,1627147809
17,Rio Grande,-32.0350,-52.0986,82.51,65,2,5.30,BR,1627147810
18,Shatrovo,56.5167,64.6333,60.42,91,100,1.97,RU,1627147810
19,Pevek,69.7008,170.3133,37.15,92,95,7.23,RU,1627147810
20,Busselton,-33.6500,115.3333,56.08,76,97,16.20,AU,1627147811
21,Huarmey,-10.0681,-78.1522,69.35,69,23,11.21,PE,1627147811
22,Hong Kong,22.2855,114.1577,85.98,88,89,11.01,HK,1627147629
23,Punta Arenas,-53.1500,-70.9167,42.91,75,75,14.97,CL,1627147542
24,Longyearbyen,78.2186,15.6401,46.24,76,75,5.75,SJ,1627147778
25,Ponta do Sol,32.6667,-17.1000,81.72,69,0,4.05,PT,1627147812
26,Manggar,-2.8833,108.2667,81.95,75,3,13.96,ID,1627147812
27,Nome,64.5011,-165.4064,48.27,87,90,8.05,US,1627147812
28,Rikitea,-23.1203,-134.9692,68.77,55,0,2.33,PF,1627147773
29,Bengkulu,-3.8004,102.2655,76.03,87,22,4.23,ID,1627147813

In [5]:
#configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
#create a heatmap showing humidity

locations = vacation_df[['Lat', 'Lng']]
weights = vacation_df['Humidity']
humidity_fig = gmaps.figure()
humidity_fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
humidity_fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#check number of cities
vacation_df["City"].value_counts()

Cuxhaven      1
Yeniseysk     1
Takoradze     1
College       1
Marzuq        1
             ..
Dodge City    1
Along         1
Ushtobe       1
Bariloche     1
Kot Diji      1
Name: City, Length: 544, dtype: int64

In [8]:
#drop any rows with null values and confirm drop
no_nulls = vacation_df.copy()

no_nulls.dropna(inplace=True)
no_nulls["City"].value_counts()

Cuxhaven      1
Sitka         1
Waingapu      1
Muros         1
Ihosy         1
             ..
Dodge City    1
Along         1
Ushtobe       1
Bariloche     1
Kot Diji      1
Name: City, Length: 542, dtype: int64

In [113]:
ideal_weather_df = no_nulls.loc[(no_nulls["Humidity"] < 30) & (no_nulls["Wind Speed"] < 15) & 
                                (no_nulls["Max Temp"] > 60) & (no_nulls["Max Temp"] < 85) & (no_nulls["Cloudiness"] == 0)]

In [114]:
ideal_weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
166,Buritizeiro,-17.3511,-44.9622,82.26,24,0,6.78,BR,1627147848
167,Ipameri,-17.7219,-48.1597,80.40,23,0,10.13,BR,1627147849
218,Ushtobe,45.2514,77.9838,80.60,25,0,9.04,KZ,1627147862
288,São Sebastião do Paraíso,-20.9169,-46.9914,77.16,19,0,8.41,BR,1627147882
306,Changji,44.0167,87.3167,84.99,28,0,6.71,CN,1627147887
347,Ouro Branco,-20.5208,-43.6919,74.10,28,0,7.29,BR,1627147898
372,Menongue,-14.6585,17.6910,60.49,23,0,4.85,AO,1627147904
395,Karakol,42.4907,78.3936,66.33,27,0,5.50,KG,1627147910
399,Pompéia,-22.1086,-50.1717,84.07,17,0,9.84,BR,1627147911
497,Camabatela,-8.1881,15.3750,69.93,23,0,5.12,AO,1627147937

In [116]:
# run a test api call (now deleted) to find values in json response

#create url and parameters for calls
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location="
params = "&radius=5000&type=hotel&key="

# create variables to hold lists of data from api calls

cities_list = ideal_weather_df["City"]
countries_list = ideal_weather_df["Country"]
hotels_list = []
hotels_lat = []
hotels_lng = []
humidity = ideal_weather_df["Humidity"]

# loop through list of cities and run api calls
# append lists with hotel name and location data for each call

for ind in ideal_weather_df.index:
    loc = f"{ideal_weather_df['Lat'][ind]},{ideal_weather_df['Lng'][ind]}"
    response = requests.get(url + loc + params + g_key).json()
    hotels_list.append(response['results'][0]['name'])
    hotels_lat.append(response['results'][0]['geometry']['location']['lat'])
    hotels_lng.append(response['results'][0]['geometry']['location']['lng'])

In [117]:
len(countries_list)

10

In [118]:
#create a new data frame

hotels_df = pd.DataFrame({"Hotel Name": hotels_list, "City" : cities_list,"Country": countries_list,
             "Lat": hotels_lat, "Lng": hotels_lng, "Humidity" : humidity})

In [119]:
hotels_df

,Hotel Name,City,Country,Lat,Lng,Humidity
166,Pirapora,Buritizeiro,BR,-17.348869,-44.946809,24
167,Ipameri,Ipameri,BR,-17.719956,-48.159105,23
218,Ushtobe,Ushtobe,KZ,45.241544,77.972648,25
288,São Sebastião do Paraíso,São Sebastião do Paraíso,BR,-20.918854,-46.984882,19
306,Ürümqi,Changji,CN,43.825592,87.616848,28
347,Ouro Branco,Ouro Branco,BR,-20.523552,-43.691411,28
372,Menongue,Menongue,AO,-14.659408,17.698488,23
395,Karakol,Karakol,KG,42.478210,78.395599,27
399,Pompeia,Pompéia,BR,-22.106059,-50.173691,17
497,Camabatela,Camabatela,AO,-8.187459,15.374596,23

In [120]:
#create a heatmap showing humidity

locations = hotels_df[['Lat', 'Lng']]
weights = hotels_df['Humidity']
hotel_humidity_fig = gmaps.figure()
hotel_humidity_fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
hotel_humidity_fig

Figure(layout=FigureLayout(height='420px'))

In [121]:
# NOTE: Do not change any of the code in this cell
#create a heatmap showing humidity

locations = hotels_df[['Lat', 'Lng']]
weights = hotels_df['Humidity']
hotel_humidity_fig = gmaps.figure()
hotel_humidity_fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotels_df.iterrows()]
locations = hotels_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
hotel_humidity_fig.add_layer(marker_layer)
hotel_humidity_fig

Figure(layout=FigureLayout(height='420px'))