In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os
from pprint import pprint

# Import API key
from api_keys import g_key

In [3]:
#!jupyter labextension install jupyter-matplotlib@0.3.0

In [2]:
#read in city weather data csv file

vacation_df = pd.read_csv("../output_data/cities.csv",index_col=0)

vacation_df.head(30)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Conceição do Araguaia,-8.2578,-49.2647,82.35,32,48,2.39,BR,1627337423
1,Qaanaaq,77.4840,-69.3632,42.04,71,100,7.61,GL,1627337379
2,Tuktoyaktuk,69.4541,-133.0374,46.60,76,94,7.47,CA,1627337424
3,Bambous Virieux,-20.3428,57.7575,66.22,77,77,14.47,MU,1627337424
4,Butaritari,3.0707,172.7902,82.45,74,93,6.96,KI,1627337424
5,Rikitea,-23.1203,-134.9692,74.08,77,89,18.45,PF,1627337425
6,Timbiquí,2.7717,-77.6654,78.19,89,84,4.34,CO,1627337425
7,East London,-33.0153,27.9116,64.90,25,100,11.39,ZA,1627337425
8,Gold Coast,-28.0000,153.4333,55.20,82,0,0.00,AU,1627337426
9,Shakawe,-18.3667,21.8500,48.69,44,3,6.20,BW,1627337426
10,College,64.8569,-147.8028,70.23,51,75,8.05,US,1627337426
11,Port Elizabeth,-33.9180,25.5701,67.10,32,93,11.30,ZA,1627337427
12,Vila,42.0304,-8.1588,61.74,81,4,2.66,PT,1627337427
13,Mosetse,-20.7500,26.6500,49.03,66,0,15.12,BW,1627337427
14,Gravdal,68.1214,13.5031,53.49,100,75,10.36,NO,1627337427
15,La Ronge,55.1001,-105.2842,71.01,39,11,3.65,CA,1627337428
16,Pallasovka,50.0500,46.8833,66.45,46,0,9.15,RU,1627337428
17,Lupiro,-8.3833,36.6667,62.69,56,50,3.98,TZ,1627337428
18,São Filipe,14.8961,-24.4956,75.38,82,24,10.38,CV,1627337409
19,Torbay,47.6666,-52.7314,63.28,81,45,4.00,CA,1627337429
20,Lebu,-37.6167,-73.6500,47.71,69,7,16.35,CL,1627337393
21,Poltava,49.5937,34.5407,72.46,47,47,8.46,UA,1627337429
22,Gejiu,23.3060,103.1635,54.77,93,14,1.21,CN,1627337429
23,Panabá,21.2833,-88.2667,81.72,76,88,10.04,MX,1627337430
24,Chui,-33.6971,-53.4616,49.42,79,77,10.40,UY,1627337408
25,San Patricio,28.0170,-97.5169,95.72,41,5,12.75,US,1627337392
26,Synya,65.3718,58.0387,43.90,97,100,3.38,RU,1627337430
27,De Aar,-30.6497,24.0123,42.10,41,36,6.78,ZA,1627337430
28,Thompson,55.7435,-97.8558,76.53,21,3,5.68,CA,1627337396
29,Batemans Bay,-35.7167,150.1833,54.19,64,100,6.91,AU,1627337431

In [3]:
#configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
#create a heatmap showing humidity

locations = vacation_df[['Lat', 'Lng']]
weights = vacation_df['Humidity']
humidity_fig = gmaps.figure()
humidity_fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
humidity_fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
#check number of cities
vacation_df["City"].value_counts()

Māngrol     1
Lagoa       1
Nyamuswa    1
Talara      1
Pozhva      1
           ..
Alpena      1
Onguday     1
Goderich    1
Alugan      1
Alofi       1
Name: City, Length: 594, dtype: int64

In [6]:
#drop any rows with null values and confirm drop
no_nulls = vacation_df.copy()

no_nulls.dropna(inplace=True)
no_nulls["City"].value_counts()

Māngrol          1
Nemuro           1
Talara           1
Pozhva           1
Codrington       1
                ..
Onguday          1
Goderich         1
Honningsvåg      1
Alta Floresta    1
Alofi            1
Name: City, Length: 589, dtype: int64

In [10]:
ideal_weather_df = no_nulls.loc[(no_nulls["Humidity"] < 30) & (no_nulls["Wind Speed"] < 15) & 
                                (no_nulls["Max Temp"] > 60) &
                                (no_nulls["Max Temp"] < 85) & (no_nulls["Cloudiness"] < 80)]

In [11]:
ideal_weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
28,Thompson,55.7435,-97.8558,76.53,21,3,5.68,CA,1627337396
50,Ubari,26.5921,12.7805,84.99,21,0,9.71,LY,1627337435
86,Korla,41.7597,86.1469,82.85,27,0,8.79,CN,1627337443
162,Shache,38.4167,77.2406,84.83,26,4,2.73,CN,1627337459
276,Kruisfontein,-34.0033,24.7314,64.89,26,74,13.85,ZA,1627337410
315,Kumul,42.8000,93.4500,83.19,21,5,12.59,CN,1627337476
326,Yangi Marg`ilon,40.4272,71.7189,83.89,23,3,6.26,UZ,1627337498
429,Shelburne,44.0787,-80.2041,83.75,22,7,10.11,CA,1627337521

In [12]:
# run a test api call (now deleted) to find values in json response

#create url and parameters for calls
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location="
params = "&radius=5000&type=hotel&key="

# create variables to hold lists of data from api calls

cities_list = ideal_weather_df["City"]
countries_list = ideal_weather_df["Country"]
hotels_list = []
hotels_lat = []
hotels_lng = []
humidity = ideal_weather_df["Humidity"]

# loop through list of cities and run api calls
# append lists with hotel name and location data for each call

for ind in ideal_weather_df.index:
    loc = f"{ideal_weather_df['Lat'][ind]},{ideal_weather_df['Lng'][ind]}"
    response = requests.get(url + loc + params + g_key).json()
    hotels_list.append(response['results'][0]['name'])
    hotels_lat.append(response['results'][0]['geometry']['location']['lat'])
    hotels_lng.append(response['results'][0]['geometry']['location']['lng'])

In [13]:
len(countries_list)

8

In [14]:
#create a new data frame

hotels_df = pd.DataFrame({"Hotel Name": hotels_list, "City" : cities_list,"Country": countries_list,
             "Lat": hotels_lat, "Lng": hotels_lng, "Humidity" : humidity})

In [15]:
hotels_df

,Hotel Name,City,Country,Lat,Lng,Humidity
28,Thompson,Thompson,CA,55.744925,-97.850871,21
50,Awbari‎,Ubari,LY,26.581018,12.793976,21
86,Bayingolin Mongol Autonomous Prefecture,Korla,CN,41.764115,86.145298,27
162,Kashgar Prefecture,Shache,CN,39.470400,75.989755,26
276,Humansdorp,Kruisfontein,ZA,-34.002719,24.743975,26
315,Hami,Kumul,CN,42.818420,93.515150,21
326,Fergana,Yangi Marg`ilon,UZ,40.373380,71.797833,23
429,Mono,Shelburne,CA,44.003363,-80.053492,22

In [16]:
#create a heatmap showing humidity

locations = hotels_df[['Lat', 'Lng']]
weights = hotels_df['Humidity']
hotel_humidity_fig = gmaps.figure()
hotel_humidity_fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
hotel_humidity_fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# NOTE: Do not change any of the code in this cell
#create a heatmap showing humidity

locations = hotels_df[['Lat', 'Lng']]
weights = hotels_df['Humidity']
hotel_humidity_fig = gmaps.figure()
hotel_humidity_fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotels_df.iterrows()]
locations = hotels_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
hotel_humidity_fig.add_layer(marker_layer)
hotel_humidity_fig

Figure(layout=FigureLayout(height='420px'))

# screenshot of heatmap is from a previous run of the code and will not match the current code output