In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [7]:
#read in city weather data csv file

vacation_df = pd.read_csv("../output_data/cities.csv",index_col=0)

vacation_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Hobart,-42.8794,147.3294,44.92,77,99,1.99,AU,1627148245
1,Havelock,34.8791,-76.9013,86.99,58,1,5.99,US,1627148245
2,Atuona,-9.8000,-139.0333,77.97,70,96,16.20,PF,1627147805
3,Vao,-22.6667,167.4833,70.81,84,19,5.68,NC,1627147805
4,Codrington,-38.2667,141.9667,44.98,76,99,23.40,AU,1627147806